@model ShoppingCart

<form method="post">
    <input hidden asp-for="ProductId" />
    <div class="card container mt-4">
        <div class="card-header bg-primary text-light ml-0 row">
            <div class="col-12 col-md-6">
                <h2 class="text-white fw-bold">@Model.Product.Name</h2>
                <p class="text-warning mb-0 fw-bold">by @Model.Product.Brand</p>
            </div>
            <div class="col-12 col-md-6 text-end pt-4">
                <span class="badge bg-info pt-2 fw-bold" style="height:30px;">@Model.Product.DrinkType.Name</span>
                @foreach (var tag in Model.Product.ProductTags)
                {
                    <span class="badge bg-warning fw-bold pt-2" style="height:30px;">@tag.Tag.Name</span>
                }
            </div>
        </div>
        <div class="card-body row container">
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-8 col-lg-8">

                        <div class="row">
                            <h5 class="text-dark pb-2">@Html.Raw(Model.Product.Description)</h5>
                        </div>
                        <div class="row text-center ms-0">
                            <div class="p-1 col-3 bg-primary text-white border-bottom">
                                <div></div>
                            </div>
                            <div class="p-1 col-3 bg-primary  text-white fw-bold border-bottom">
                                <div>Individual</div>
                            </div>
                            <div class="p-1 col-3 bg-primary  text-white fw-bold border-bottom">
                                <div>Case Price</div>
                            </div>
                            <div class="p-1 col-3 bg-primary  text-white fw-bold border-bottom">
                                <div>Bulk Price</div>
                            </div>
                        </div>
                        <div class="row text-center ms-0">
                            <div class="p-1 col-3 bg-light border-bottom">
                                <div>Quantity</div>
                            </div>
                            <div class="p-1 col-3 bg-light border-bottom">
                                <div>1 item</div>
                            </div>
                            <div class="p-1 col-3 bg-light border-bottom">
                                <div>1 (@Model.Product.QuantityPerCase items)</div>
                            </div>
                            <div class="p-1 col-3 bg-light border-bottom">
                                <div>> @Model.Product.MinBulkCase cases</div>
                            </div>
                        </div>
                        <div class="row text-center ms-0 text-primary" style="font-weight:bold">
                            <div class="p-1 col-3 bg-light">
                                <div>Price</div>
                            </div>
                            <div class="p-1 col-3 bg-light">
                                <div>@Model.Product.ListPrice.ToString("c") each</div>
                            </div>
                            <div class="p-1 col-3 bg-light">
                                <div>@Model.Product.CasePrize.ToString("c") / case</div>
                            </div>
                            <div class="p-1 col-3 bg-light">
                                <div>@Model.Product.BulkCasePrice.ToString("c") / case</div>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-4 text-primary d-flex align-items-center"><h5 class="mb-0">Individual<i data-toggle="tooltip" data-placement="top" title="Price will be calcuated using individual price only">&#x1F6C8;</i></h5></div>
                            <div class="col-2"><input asp-for="Count" class="form-control"/></div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-4 text-primary d-flex align-items-center"><h5 class="mb-0">Number of Cases<i data-toggle="tooltip" data-placement="top" title="Price will be calcuated with bulk price if more than bulk quantity">&#x1F6C8;</i></h5></div>
                            <div class="col-2"><input asp-for="CaseCount" class="form-control"/></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 text-center">
                        <img src="@Model.Product.ImageUrl" width="100%" class="rounded" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-6 pb-1">
                    <button class="btn btn-success form-control fw-bold" style="height:50px;" asp-action="Index">Back to Home</button>
                </div>
                <div class="col-12 col-md-6 pb-1">
                    <button type="submit" value="Add to Cart" class="btn btn-primary form-control fw-bold" style="height:50px;">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
    {
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}