@model JakeDrinkStore.Models.ViewModels.ShoppingCartVM

<form method="post">
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-secondary text-light ml-0">
				<div class="row">
					<div class="col-6">
						<i class="bi bi-cart"></i> &nbsp;
						Shopping Cart
					</div>
					<div class="col-6 text-end">
						<a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary btn-sm">Continue Shopping</a>
					</div>
				</div>
			</div>

			<div class="card-body">
				@foreach (var item in Model.ListCart)
				{
					<div class="row">
						<div class="d-none d-lg-block col-lg-1 text-center py-2">
							<img src="@item.Product.ImageUrl" class="rounded" width="100%" />
						</div>
						<div class="col-12 col-lg-6 pt-md-3">
							<h5><strong>@item.Product.Name</strong></h5>
							<p><small>@Html.Raw(item.Product.Description)</small></p>
						</div>
						<div class="col-12 col-lg-5 text-center row">
							<div class="d-flex align-items-center col-6 col-sm-6 col-lg-6">
								<table width="100%">
									@if (item.Count > 0)
									{
										<tr>
											<td class="py-1 fw-bold">Individual</td>
											<td>
												@item.Product.ListPrice.ToString("c")
												<span class="text-muted">&nbsp;x&nbsp;&nbsp;</span>@item.Count
											</td>
										</tr>
									}
									@if (item.CaseCount > 0)
									{
										@if (item.CaseCount >= item.Product.MinBulkCase)
										{
											<tr>
												<td class="py-1 fw-bold">Bulk Price</td>
												<td>
													@item.Product.BulkCasePrice.ToString("c")
													<span class="text-muted">&nbsp;x&nbsp;&nbsp;</span>@item.CaseCount
												</td>
											</tr>
										}
										else
										{
											<tr>
												<td class="py-1 fw-bold">Case Price</td>
												<td>
													@item.Product.CasePrize.ToString("c")
													<span class="text-muted">&nbsp;x&nbsp;&nbsp;</span>@item.CaseCount
												</td>
											</tr>
										}
									}
								</table>
							</div>
							<div class="d-flex flex-column justify-content-center align-items-center col-5 col-sm-3 col-lg-5">
								@if (item.Count > 0)
								{
									<div class="w-75 btn-group" role="group">
										<a asp-action="individualplus" asp-route-cartId="@item.Id" class="btn btn-primary px-0">
											<i class="bi bi-plus-square"></i>
										</a> &nbsp;
										<a asp-action="individualminus" asp-route-cartId="@item.Id" class="btn btn-warning px-0">
											<i class="bi bi-dash-square"></i>
										</a>
									</div>
								}
								@if (item.CaseCount > 0)
								{
									<div class="w-75 btn-group" role="group">
										<a asp-action="caseplus" asp-route-cartId="@item.Id" class="btn btn-primary px-0">
											<i class="bi bi-plus-square"></i>
										</a> &nbsp;
										<a asp-action="caseminus" asp-route-cartId="@item.Id" class="btn btn-warning px-0">
											<i class="bi bi-dash-square"></i>
										</a>
									</div>
								}
							</div>
							<div class="d-flex flex-column justify-content-center align-items-center col-2 col-sm-2 col-lg-1">
								@if (item.Count > 0)
								{
									<a asp-action="individualremove" asp-route-cartId="@item.Id" class="btn btn-danger">
										<i class="bi bi-trash-fill"></i>
									</a>
								}
								@if (item.CaseCount > 0)
								{
									<a asp-action="caseremove" asp-route-cartId="@item.Id" class="btn btn-danger">
										<i class="bi bi-trash-fill"></i>
									</a>
								}
							</div>
						</div>
					</div>
					<hr />
				}
				<div class="row">
					<div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between bg-light">
								<strong class="text-info fw-bold"> Total (USD)</strong>
								<strong class="text-info fw-bold">@Model.OrderHeader.OrderTotal.ToString("c")</strong>
							</li>
						</ul>
					</div>
				</div>

			</div>

			<div class="card-footer">
				<div class="row">
					<div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">
						@if (Model.ListCart.Count() == 0)
						{
							<a asp-action="Summary" class="btn btn-success form-control disabled">Summary</a>
						}
						else
						{
							<a asp-action="Summary" class="btn btn-success form-control">Summary</a>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</form>